.flashdrive {
  /* background-color: #CFCFCF; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  font-size: 30px;
  color: white;
}

.flashdrive .body {
  width: 100%;
  height: 100%;
  margin: 5% 0 5% 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.cancel {
  color: white;
  display: flex;
  align-items: center;
  position: absolute;
  text-align: left;
  top: 2%;
  left: 12%;
  font-size: 20px;
  line-height: 20px;
  z-index: 99;
}

.cancel .button {
  font-weight: 100;
}

.logOutput {
  position: absolute;
  width: 73%;
  height: 73%;
  top: 20%;
  left: 17%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 160%;
  border: 2px solid white; 
  padding: 1%;
}

/* ===================================== */

.buttonsSteps {
  width: 20%;
  height: 100%;
  position: absolute;
  top: 8%; 
  left: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;

}

.buttonStep {
  z-index: 99;
  font-family: "Teko", sans-serif;
  width: 60px;
  height: 60px;
  background-color: #E72623;
  transition: background-color 0.3s ease;
  font-size: 40px;
  border-radius: 20%;
  border: 2px solid white;
  color: white;
  text-shadow: /* text border */
  2px 2px 0px black, 
  -2px -2px 0px black, 
  2px -2px 0px black, 
  -2px 2px 0px black; 
}

.activeStep {
  background-color: #e7ef88;
  position: relative;
}

.completedStep {
  background-color: #51e723;
}

.activeStep::after {
  /* horizontal line extending from step */
  content: '';
  position: absolute;
  top: 50%; 
  left: 100%; 
  transform: translateY(-50%);
  width: calc(10vw - 100%); 
  height: 2px;
  background-color: white;
  z-index: 1;
}

.activeStep::before {
  /* arrowhead */
  content: '';
  position: absolute;
  top: 50%; 
  left: calc(10vw + 2px);
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 11px;
  border-color: transparent transparent transparent white; 
  z-index: 1;
}

