.flashdrive {
  background-color: #CFCFCF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  color: black;
  font-size: 30px;
}

.flashdrive .top {
  width: 100%;
  height: 30%;
  margin: 0;
  padding: 0;
}

.flashdrive .stringDecorBackup {
  position: absolute;
  top: 0px;
  left: -300px; 
  width: 100%;
  height: auto;
  overflow: visible;
  z-index: 10;
  margin-top: 5px;
  z-index: 10;
}

.flashdrive .pixelPanelTop {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  max-height: 30%;
  min-height: 25%;
  z-index: 0;
}

.cancel {
  color: white;
  display: flex;
  align-items: center;
  position: absolute;
  top: 8%;
  right: 70%;
  font-size: 20px;
  line-height: 20px;
  z-index: 5;
}

.cancel .button {
  font-weight: 100;
}

/* ======================================== */

.flashdrive .middle {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.flashdrive .bottom {

}

