.emulators {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  color: white;
}

.backDrop {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}



/* ============================================== */
.top {
  width: 100%;
  height: 20%;
  margin: 0;
  padding: 0;
}

.stringDecor {
  position: absolute;
  top: 0px;
  left: 0px; 
  width: 100%;
  height: auto;
  max-height: 47%;
  min-height: 40%;
  overflow: visible;
}
.stringDecorBackup{
  position: absolute;
  top: 0px;
  left: -300px; 
  width: 100%;
  height: auto;
  overflow: visible;
  z-index: 10;
  margin-top: 5px;
}
/* .rect-clip {
  border-width: 2;
  border-color: white;
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 100;
} */

.pixelPanelTop {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  max-height: 30%;
  min-height: 25%;
  z-index: -5;
}

.logo {
  min-width: 80px;
  width: 13%;
  height: auto;
  padding-top: 3%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.uploadText {
  display: flex;
  align-items: center;
  width: 100%;
  height: 20%;
  padding: 3% 0 0 19%;
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  z-index: 5;
}

.button2 {
  font-family: "Teko", sans-serif;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #597cd2;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.button2:hover {
  background-color: #0056b3;
}

/* ============================================== */
.middle {
  width: 100%;
  text-align: center;
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.box-container {
  width: 100%;
  height: 60%;
  position: absolute;
  perspective: 1000px;

  top: 45%;
  left: 45.5%;
}

.box {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  height: 150px;
  background-color: #669BBC;
  color: white;
  font-size: 24px;
  transition: all 0.3s ease-out;
  border: 2px solid #ffffff;
  border-radius: 8px;
  padding: 5px;
}

.box img {
  max-width: 100%;
  max-height: 80%;
  object-fit: contain;
  margin: auto 0;
}

.boxText {
  margin: 0;
  align-self: flex-end;
}

button {
  font-size: 24px;
  color: white;
  border: none;
  cursor: pointer;
  margin: 0 20px;

}

.button-container {
  position: absolute;
  top: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  justify-content: space-between;
}

.left-button {
  background-color: transparent;
  background-image: url('..//images/left arrow.png');
  background-size: 100% 100%;
  width: 120px;
  height: 50px;
  background-repeat: no-repeat;
}

.right-button {
  background-color: transparent;
  background-image: url('../images/right arrow.png');
  background-size: 100% 100%;
  width: 120px;
  height: 50px;
  background-repeat: no-repeat;
}

/* ============================================== */
.bottom {
  color: white;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  line-height: 1;
}

.pixelPanelBot {
  position: absolute;
  bottom: -50px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%) scaleY(-1);
  max-height: 30%;
  min-height: 25%;
  z-index: -5;
}

.text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 0 2% 0;
}

.title {
  font-size: 50px;
  font-weight: 300;
  margin: 0 0 15% 0;
}

.buttonDesc {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  align-items: center;
  justify-content: center;

}

.button1 {
  font-family: "Teko", sans-serif;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #597cd2;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.button1:hover {
  background-color: #0056b3;
}

.stringDecorBot {
  position: absolute;
  transform: translateY(10px);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  overflow: visible;
}
.stringDecorBackupBot{
  position: absolute;
  bottom: 0px;
  left: -300px; 
  width: 100%;
  height: auto;
  overflow: visible;
  z-index: 10;
  margin-bottom: 10px;
}

.RCOS {
  width: 75%;
  margin: 0 0 2% 0;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}