:root {
  font-family: "Teko", sans-serif;
  font-weight: 300;

  color-scheme: light dark;
  background-color: #001A27;
  --primary-red: #E72623;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Default selection button */
.buttonCircle {
    font-family: "Teko", sans-serif;
    width: 80px;
    height: 80px;
    /* opacity: 80%; */
    border-radius: 50%;
    background-color: #597cd2;
    transition: background-color 0.3s ease;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    z-index: 99;
  }
  
  /* Animated blinking border */
  .buttonCircle::before {
    content: "";
    position: absolute;
    inset: 0; 
    border-radius: 50%;
    border: 5px solid white;
    box-sizing: border-box; 
    animation: blinkBorder 1s linear infinite;
    pointer-events: none; 
  }
  
  @keyframes blinkBorder {
    50% { opacity: 0%; }
    100% { opacity: 100%; }
  }
  

buttonCircle:hover {
  background-color: #0056b3;
}

.Toastify__toast {
  font-family: 'Teko', sans-serif !important;
}

