.flashdrive {
  /* background-color: #CFCFCF; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  font-size: 30px;
  color: white;
}

.flashdriveTitle {
  display: flex;
  width: 100%;
  position: absolute;
  top: 5%;
  flex-direction: column;
  align-items: center;
  line-height: 180%;
}

.flashdrive .body {
  width: 100%;
  height: 100%;
  margin: 5% 0 5% 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.cancel {
  color: white;
  display: flex;
  flex-direction: row;
  position: absolute;
  text-align: left;
  left: 14%;
  top: 6%;
  width: 20%;
  font-size: 30px;
  line-height: 20px;
  z-index: 99;
  align-items: center;
}

.textAndButton {
  display: flex;
  width: 25%;
  align-items: center;
  flex-direction: column;
}

/* log output ===================================== */

.logOutput {
  position: absolute;
  width: 73%;
  height: 73%;
  top: 20%;
  left: 17%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  line-height: 160%;
  border: 2px solid white;
  padding: 1%;
  overflow: hidden;
}

.logMsgs {
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  line-height: 140%;
  max-height: 100%;
  overflow-y: auto;
}

.summary {
  width: 50%;
  margin-left: 3%;
  padding-left: 3%;
  border-left: 2px solid white;
}


.summaryCategories {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-y: auto;
}

.summaryItem {
  font-family: "DM Sans", sans-serif;
}

/* Button steps ===================================== */

.buttonsSteps {
  width: 20%;
  height: 100%;
  position: absolute;
  top: 8%;
  left: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;

}

.buttonStep {
  z-index: 99;
  font-family: "Teko", sans-serif;
  width: 60px;
  height: 60px;
  background-color: var(--primary-red);
  transition: background-color 0.3s ease;
  font-size: 40px;
  border-radius: 20%;
  border: 2px solid white;
  color: white;
  text-shadow:
    /* text border */
    2px 2px 0px black,
    -2px -2px 0px black,
    2px -2px 0px black,
    -2px 2px 0px black;
}

.activeStep {
  background-color: #e7ef88;
  position: relative;
}

.completedStep {
  background-color: #51e723;
}

.activeStep::after {
  /* horizontal line extending from step */
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  width: calc(10vw - 100%);
  height: 2px;
  background-color: white;
  z-index: 1;
}

.activeStep::before {
  /* arrowhead */
  content: '';
  position: absolute;
  top: 50%;
  left: calc(10vw + 2px);
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 11px;
  border-color: transparent transparent transparent white;
  z-index: 1;
}