.instructions {
  display: flex;
  overflow: hidden;
}

.instructionsLeft {
  margin: 0;
  width: 55%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.directoryScreenshot {
  margin-left: 2%;
  overflow: hidden;
  width: 110%;
}

.smallText {
  line-height: 130%;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  margin: 0;  
}

.instructionsRight {
  margin: 0 0 0 10%;
  width: 30%;
  height: auto;
  overflow: hidden;
}

.fileText {
  line-height: 140%;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  margin: 0;  
  font-weight: 200;
  border: 2px solid white;
  padding: 2%;
}

.folder {
  font-size: 24px;
  font-weight: 300;
  margin-left: 5%;
}

.filename {
  margin: 0 0 0 10%;
  color: #8b90e4;
}

@media (max-width: 1200px) {
  .smallText {
    font-size: 16px;
  }
}