.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'YourFontName';
  /*a name to be used later*/
  src: url('https://fonts.google.com/specimen/Oswald?preview.text=hello');
  /*URL to font*/
}

.Main_Div {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.canvas-container {
  position: absolute;
  z-index: 1;
  left: 10%;
  top:30%;
  margin-left:2%;

}

.emulator_summary {
  position: absolute;
  right: 13%;
  top: 10%;
  width: 27%;
  color: white;
  text-align:center;
  /* font-size: 2vw; */
  font-size: clamp(20px, 2vw, 40px);
  z-index: 1;
  font-family: 'YourFontName';
  /* width: 30%; */
  /* text-align: center; */

}

.game_recommendations {
  padding: 2%;
  margin: 10px;
  border: 2px solid white;
  /* border-radius: 20px; */
  position: absolute;
  color: white;
  font-family: 'YourFontName';
  right: 10%;
  bottom: 10%;
  z-index: 1;
  text-align: center;
  width: 30%;
  height: 30%;
}

.creator_header {
  font-size: clamp(20px, 2vw, 35px);

}

.actual_games {
  font-family: 'YourFontName';
  font-size: clamp(15px, 1.8vw, 35px);
  /* font-size:20px; */
  padding-right: 30px;
}

.elevated-word {
  color: white;
  position: relative;
  font-size: 15px;
  /* Set a base font size */
  text-align: center;
  /* Center the text */
}

.elevated-word::before,
.elevated-word::after {
  content: attr(data-text);
  /* Use the same text */
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(0);
  /* Default position */
}

/* Define the progressive elevation */
.elevated-word::before {
  top: 5px;
  /* First pseudo-element with slight offset */
}

.elevated-word::after {
  top: 10px;
  /* Second pseudo-element with more offset */
}

.Mario{
  width:clamp(50px, 20vw, 100px);
  z-index: 1;
  position:absolute;
  bottom: 5%; /* Adjust to your desired spacing from the bottom */
  right: 4%;  /* Adjust to your desired spacing from the right */
  margin-left:30px;

}
/* @keyframes moveToCenter {
  0% {
    transform: translateX(0); 
  }
  100% {
    transform: translateX(calc(50vw - 50%)); 
  }
} */


.Link{
  width:clamp(100px, 20vw, 250px);
  z-index: 2;
  position:absolute;
  left:10px;
  bottom:10px;
  /* animation: moveToCenter 3s ease-in-out forwards; Animation applied */
  transition: transform 0.2s ease;


}
.Side1 {
  position: absolute;
  top: 45%;
  left: -28.0%;
  width: 62%;
  height: 10%;
  max-height: 30%;
  /* min-height: 25%; */
  z-index: -5;
  transform: rotate(270deg); 
}

.Side2 {
  position:relative;
  /* right:90%; */
  top: 45%;
  left: 66%;
  width: 62%;
  height: 10%;
  max-height: 30%;
  /* min-height: 25%; */
  z-index: -5;
  transform: rotate(90deg); 
}